.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/.name
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
.idea/runConfigurations.xml
.idea/.name
.idea/encodings.xml
.idea/runConfigurations.xml
.idea/compiler.xml
